/* Mengimpor font Inter dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Menerapkan font Inter ke seluruh aplikasi */
        font-family: 'Inter', sans-serif;
        /* Memberi warna latar belakang yang lebih cerah */
        @apply bg-gray-50;
    }
}
